body {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 3px 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img {
    height: 45px;
    margin-right: 10px;
}
.navbar .logo span {
    font-weight: bold;
    font-size: 1.2em;
}
.navbar .icons {
    display: flex;
    gap: 10px; /* Space between icons */

}
.navbar .icons img {
    width: 24px;
}
.black-bar {
    background-color: black;
    padding: 12px 0;
    height: 55px; /* Optional: Set a specific height */
}
.black-bar .menu {
    display: flex;
    justify-content: center;
    gap: 90px;
}
.black-bar .menu a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-family: "Inter", monospace;
    font-weight: bold;
    font-size: 15; 
    padding-bottom: 5px; /* Space for underline */
}
.black-bar .menu a.active {
    color: #ffcc00;
    font-weight: bold;
    position: relative;
}
.black-bar a:hover,
.black-bar a.active {
    color: #ffcc00;
}

.black-bar .menu a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    margin-top: 20px;
    background-color: #ffcc00;
    bottom: -14px;
    left: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-image {
    flex: 1;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.product-image img {
    width: 400px;
    height: 450px;
    border-radius: 10px;
    border: 10px solid #000;
}
.product-details {
    flex: 1;
    padding: 20px;
}
.product-details h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1px;
}
.product-details .price {
    color: #ffcc00;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.product-details p {
    font-size: 15px;
}
.product-details .options {
    margin-bottom: 1px;
}
.product-details .options label {
    display: block;
    background-color: #0000;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}
.product-details .options button {
    background-color: #000 !important;
    color: #ffcc00 !important;
    border: none;
    width: 110px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;   
    cursor: pointer;
}
.product-details .options button.active-style {
    background-color: #ffcc00 !important;
    color: #000 !important;
}

.product-details .quantity {
    display: flex;
    margin-right: 20px;
    align-items: center;
    margin-bottom: 15px;
}
.product-details .quantity button {
    background-color: #000;
    margin-left: 10px;
    border: none;
    height: 30px;
    width: 40;
    font-size: 12px;
    padding: 10px;
    align-items: center;
    color: #ffcc00;
    cursor: pointer;
}
.product-details .quantity input {
    width: 70px;
    text-align: center;
    margin: 0 10px;
}
.product-details .add-to-cart {
    background-color: #ffcc00;
    border: none;
    padding: 10px 8px;
    width: 500px;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
}