body {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 3px 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 45px;
    margin-right: 10px;
}

.navbar .logo span {
    font-weight: bold;
    font-size: 1.2em;
}

.navbar .icons {
    display: flex;
    gap: 10px;
}

.navbar .icons img {
    width: 24px;
}

.search-bar {
    display: none;
    position: absolute;
    right: 60px;
    margin-right: 18px;
    top: 10px;
    color: #ffc107;
}

.search-bar button {
    background-color: #ffc107;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
}

.search-bar button:hover {
    background-color: #e6b800;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-results {
    margin-top: 20px;
    display: none;
}

.black-bar {
    background-color: black;
    padding: 12px 0;
    height: 55px; 
}

.black-bar .menu {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.black-bar .menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px; 
    padding-bottom: 5px;
}

.black-bar .menu a.active {
    color: #ffcc00;
    font-weight: bold;
    position: relative;
}

.black-bar a:hover,
.black-bar a.active {
    color: #ffcc00;
}

.black-bar .menu a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    margin-top: 20px;
    background-color: #ffcc00;
    bottom: -14px;
    left: 0;
}

.main {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 200px;
    padding-right: 20px;
}
.content {
    flex: 1;
    transition: width 0.3s ease;
}

.filter-bar .filter .fa-arrow-left {
    margin-right: 10px;
}

.sidebar.collapsed {
    width: 0;
    padding-right: 0;
    overflow: hidden;
}

.sidebar h3 {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.sidebar h3 i {
    margin-right: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.sidebar ul li a:hover {
    color: #ffcc00;
}

.sidebar ul li a.active {
    color: #ffcc00;
    font-weight: bold;
}

.content {
    flex: 1;
    transition: width 0.3s ease;
}

.collapsed + .content {
    margin-left: 0;
}

.content .sort {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.content .sort select {
    padding: 3px;
    font-size: 18px;
    margin-right: 45px;
    border: none;
    background: none;
}

.content .items {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat( 4, 1fr);
    grid-gap: 20px;
}

.content.maximized .items {
    width: calc(122.600% - 345px);
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;
    grid-gap: 12px;
}

.content .item {
    width: calc(33.333% - 130px);
    border: 10px solid black;
    border-radius: 7px;
    overflow: hidden;
    text-align: center;
    background-color: black;
    height: 150;
    margin: 8px;
}

.content .item img {
    width: 100%;
    height: 250px;
    border-radius: 7px;
}

.content .item p {
    margin: 10px;
    text-align: center;
    color: white;
    font-family: "Inter", monospace;
    font-size: 18px;
    font-weight: bold;
}

.content .item p:hover,
.content p.active {
    color: #ffcc00;
}

.content .items a {
    text-decoration: none;
    color: inherit; 
}

.item:active {
    box-shadow: 0 4px 20px rgba(1, 0, 0, 0.7);
}
.menus a, .menu-icon, .close-icon {
    display: none;
    }
@media (max-width: 990px) {
    .navbar {
        flex-direction: rows;
        padding: 15px;
        overflow-x: hidden;
        height: 70px;
    }
    .navbar .logo {
        display: flex;
        align-items: center;
}
    .navbar .logo img {
        height: 50px;
        margin-left: 22px;
}
    .navbar .icons {
        display: flex;
        gap: 10px; 

}
    .navbar .icons img {
        width: 30px;
        height: 30px;
}
       
.search-bar {
    display: none; 
    position: absolute;
    margin-right: 32px;
    top: 10px;
    color: #ffc107;
}
.search-bar button {
    background-color: #ffc107;
    border: none;
    font-size: 15px;
    margin-top: 5px;
    cursor: pointer;
    height: 44px;
    width: 70px;
    border-radius: 10px;
}
.search-bar button:hover {
    background-color: #e6b800;
    
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    height: 50px;
    width: 245px;
}

.search-results {
    display: none;
}
    .black-bar {
        display: none; 
    }
    .menu-icon, .close-icon {
                font-size: 20px;
                cursor: pointer;
                padding: 15px;
                display: block;
            }
            .menu-icon {
                position: absolute;
                top: 0;
                margin-top:6px;
                left: 5px;
            }
            .close-icon {
                position: absolute;
                color:  #ffc107;
                top: 0;
                right: 0;
                font-size: 20px;
                
            }
            .menus {
                display: block;
                height: 93vh;
                width: 40vw;
                background-color: #333;
                position: absolute;
                align-items: left;
                flex-direction: column;
                z-index: 1000;
            }
            .menus a {
                color: #f8f9fa;
                text-decoration: none;
                font-size: 15px;
                margin-top: 30px;
                margin-left: 10px;
                display: flex;
            }
    .main {
    display: flex;
    padding: 10px;
}

.sidebar {
    width: 100px;
    padding-right: 20px;
}
.content {
    flex: 1;
    transition: width 0.3s ease;
}

.filter-bar .filter .fa-arrow-left {
    margin-right: 10px;
}

.sidebar.collapsed {
    width: 0;
    padding-right: 0;
    overflow: hidden;
}

.sidebar h3 {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-left: 0px;
    margin-bottom: 30px;
}
    .sidebar h3 i{
        margin-right:10px;
    }


.sidebar ul li {
    margin-bottom: 35px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 15px;
}

.content {
    flex: 1;
    transition: width 0.3s ease;
}
.content .sort select {
    padding: 3px;
    font-size: 22px;
    margin-right: 1px;
    border: none;
    background: none;
}

.content .items {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat( 2, 1fr);
    grid-gap: 0px;
}

.content.maximized .items {
    width: calc(130.300% - 0px);
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
    
}
    .content.maximized .item {
    width: 180px;
    border: 7px solid black;
    border-radius: 7px;
    text-align: center;
    background-color: black;
}
    .content.maximized .items img {
    width: 100%;
    height: 200px;
    border-radius: 7px;
}

.content .item {
    width: calc(47.733% - 10px);
    border: 7px solid black;
    border-radius: 7px;
    overflow: hidden;
    text-align: center;
    background-color: black;
}

.content .item img {
    width: 100%;
    height: 150px;
    border-radius: 7px;
}

.content .item p {
    margin: 2px;
   font-size: 10px;
    padding: 2px;
    text-align: center;
    color: white;
    font-weight: bold;
}

}